body {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;;
}

.testy {
    color: coral;
}

.linky {
    color: white;
}
.linky:visited {
    color: white;
    text-decoration: none;
}

.mlinky {
    color: inherit;
}
.mlinky:visited {
    color: inherit;
    text-decoration: none;
}

.customBadgeGreen {
    background-color: #66bb6a;
    color: black;
}

.customBadgeRed {
    background-color: #c2185b;
    color: white;
}

.menuButtonDark {
    margin-right: 2px;
    background-color: #1769aa;
}

.title {
    display: block;
}

.button {
    text-transform: none;
    align-self: center;
    color: white;
}