body {
    font-family: 'Inter Variable', 'Varela Round', 'Roboto', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.poptape-loader {
    vertical-align: middle;
    text-align: center;
    position: absolute;
    left: 35%;
    right: 35%;
    top: 47%;
    bottom: 45%;
    display: inline-block;
    z-index: 1355
}